body {
  font-size:           small;
  font-family:         Verdana, Helvetica, Arial, sans-serif;
  line-height:         1.6em;
}

h1, h2 {
  color:               #007e7e;
}

h1 {
  font-size:           150%;
}

h2 {
  font-size:           130%;
}

#guarantee {
  width:               600px;
  line-height:         1.9em;
  font-style:          italic;
  font-family:         Georgia, "Times New Roman", Times, serif;
  color:               #444444;
  border:              white 1px dashed;
  padding:             25px;
  padding-left:        80px;
  margin:              30px;
  background:          url(images/background.gif) no-repeat top left #a7cece;
}

#elixirs {
  border:               #007e7e solid thin;
  width:                200px;
  padding:              20px;
  text-align:           center;
  background:           url(images/cocktail.gif) repeat-x;
  line-height:          1;
  float:                right;
}

#elixirs h2 {
  color:                black;
}

#elixirs h3 {
  color:                #d12c47;
}

#footer {
  font-size:            50%;
  text-align:           center;
  line-height:          normal; 
  margin-top:           30px;
}

.cd { 
    font-style: italic;
 }

.artist {
    font-weight: bold; 
}

#elixirs a:link {
                        color:#007e7e;
}
#elixirs a:visited {
                        color: #333333;
}
#elixirs a:hover {
                        color: maroon;
}

#directions a:link {
                        color: #007e7e;
}

#directions a:hover {
                        color: #333333;
}
